html {
   box-sizing: border-box;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
   color: var(--foreground-color);
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

html,
body {
   height: 100%;
   margin: 0px;
   padding: 0px;
   background: #354a8f;
   background-image: linear-gradient(rgb(10, 12, 95), #004d7a, #008793, #00bf72, #354a8f);
   background-repeat: no-repeat;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
a:visited {
   color: inherit;
   text-decoration: none;
   color: rgb(0, 174, 221);

}

hr {
   margin: 2px;
   padding: 0;
}

.container {
   margin-bottom: 90px !important;
}

.icon {
   max-width: 130px;
}

.small-icon {
   width: 50px;
}

.big-icon {
   width: 100px;
}

a:hover {
   border-bottom: 1px solid rgb(0, 174, 221);
}

.m-w-150 {
   min-width: 150px !important;
}

.f-1 {
   font-size: 1em;
}
.f-2 {
   font-size: 2em;
}
.f-5 {
   font-size: 5em;
}

.h-100 {
   height: 100px !important;
}

.m-10 {
   margin: 10px;
}

.m-50 {
   margin: 50px;
}

.m-r-10 {
   margin-right: 15px;
}
.m-t-40 {
   margin-top: 40px;
}

.m-t-30 {
   margin-top: 30px;
}

.m-b-10 {
   margin-bottom: 10px;
}

.p-3 {
   padding: 2px;
}

.p-10 {
   padding: 10px;
}

.p-20 {
   padding: 20px;
}

.p-50 {
   padding: 50px;
}

.p-t-50 {
   padding-top: 50px;
}

.p-b-30 {
   padding-bottom: 30px;
}

.p-20 {
   padding: 20px;
}

.form-control {
   padding: 5px !important;
   margin: 1px !important;
}

.text-right {
   text-align: right;
}

.text-left {
   text-align: left;
}

.img-center {
   display: block !important;
   margin: 0 auto !important;
}

.shadow {
   -webkit-box-shadow: 5px 9px 9px -5px rgba(0, 0, 0, 0.44);
   box-shadow: 5px 9px 9px -5px rgba(0, 0, 0, 0.44);
}

.logo {
   width: 120px;
   height: 80px;
   background-color: #00bf72;
   font-size: 1.2em;
   color: #fff;
   margin: 5px 100px;
   padding: 5px;
   white-space: pre-wrap;
   text-align: center;
   -webkit-box-shadow: 5px 9px 9px -5px rgba(0, 0, 0, 0.44);
   box-shadow: 5px 9px 9px -5px rgba(0, 0, 0, 0.44);

   span {
      margin-left: 15px;
   }
}

a.text-white, .text-white {
   color: #fff i !important;
}

.text-clear {
   color: #666;
}

.pointer {
   cursor: pointer;
}

.scroll {
   max-height: 80%;
   overflow-y: auto;
}

.backdrop {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 105px;
   left: 0;
   background-color: rgba(88, 9, 9, 0.3) !important;
   color: #fff;

   .loader{
      position: fixed;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      transform: -webkit-translate(-50%, -50%);
      transform: -moz-translate(-50%, -50%);
      transform: -ms-translate(-50%, -50%);
      z-index: 9999;
      animation: rotation 2s infinite linear;
   }
}

.alpha {
   background-color: rgba(247, 241, 241, 0.9) !important;
}

.alpha-dark {
   color: #fff !important;
   background-color: rgba(88, 9, 9, 0.2) !important;
}

.week {
   margin-top: 30px;
}

.detail {
   h1 {
      font-size: 4em;
   }

   ul {
      margin: 15px;
      padding: 0;
      width: 100%;
   }

   li {
      list-style: disc !important;
      color: #999;

      span {
         font-weight: 700;
         color: #666;
      }
   }
}

.bold {
   font-weight: 700;
}

.navbar {
   h4 {
      font-size: 1.2em;
      color: #fff;
      white-space: nowrap;
      margin-top: 10px;
      font-style: italic;
   }

   span {
      color: #fff;
   }
}

.footer {
   position: fixed;
   background-color: #00bf72;
   bottom: 1px;
   width: 100%;
   text-align: right;
   padding: 10px 30px;
}

.search {
   input {
      margin-top: 20px !important;
   }
}
@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.highlight {
   font-size: 1.5em;
}

@media (max-width: 600px) {
   .logo {
      margin: 5px 20px;
   }

   .week {
      margin: 10px 0 60px 0;
   }

   .form-control {
      padding: 10px !important;
      margin: 10px !important;
      width: 95% !important;
   }
}